<div class="row">
  <a href="#/templates/">Go Back</a>
  <br>
  <br>
  <div class="col-md-4">
  	<img class="img-full" src="img/blue.jpg">
  </div>
  <div class="col-md-8">
  	<h3>Blue Template</h3>
  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra sed lectus eu rhoncus. Vestibulum porta sem sed tempus pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed luctus felis vitae diam rutrum, et sollicitudin est vestibulum. Fusce ut tellus id sapien egestas feugiat non sit amet nibh. Curabitur id porta orci, quis ornare ante. Maecenas commodo ligula ut justo feugiat, ut ornare ex dictum. Mauris id orci mauris. Sed lacinia nisl ac nulla finibus, sit amet commodo nisi tristique. Aliquam erat volutpat. Ut est metus, congue nec tristique quis, feugiat a orci. Suspendisse luctus libero ornare nisi sagittis condimentum.</p>
  	<h4>$19.99</h4>
  	BUY IT
  </div>
</div>