<div class="row" ng-controller="FacebookCtrl">
    <div class="col-md-4">
      <h4>{{welcomeMsg}}</h4>
      <div ng-if="isLoggedIn == true">
      	<a href="{{userInfo.link}}" target="_blank"><img ng-src="{{picture}}"></a>   
      	<br>   	
      </div>
      <div ng-if="isLoggedIn == false">
      	<button type="button" class="btn btn-default" ng-click="login()">Login</button>      	
      </div>
      <div ng-if="isLoggedIn == true">
      	<button type="button" class="btn btn-default" ng-click="logout()">Logout</button>      	
      </div>
      <br><br>
      <div ng-if="isLoggedIn == true" class="well">
        <h4>User Info</h4>
        <ul>
          <li>ID: {{userInfo.id}}</li>
          <li>First Name: {{userInfo.first_name}}</li>
          <li>Last Name: {{userInfo.last_name}}</li>
          <li>Email: {{userInfo.email}}</li>
          <li>Gender: {{userInfo.gender}}</li>
          <li>Locale: {{userInfo.locale}}</li>
        </ul>
      </div>
      <br>
      <div ng-if="isLoggedIn == true" class="well">
        <h4>Permissions</h4>
        <ul>
          <li ng-repeat="permission in permissions">{{permission.permission}} - {{permission.status}}</li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <h3>Welcome to Facebook!</h3>
      <div ng-if="isLoggedIn == true">
	      <form ng-submit="postStatus()">
	        <div class="form-group">
	          <label>Status Update</label>
	          <textarea ng-model="body" class="form-control"></textarea>
	        </div>
	        <button type="submit" class="btn btn-default">Submit</button>
	      </form>  
	      <br><br>    
	      <div ng-repeat="post in posts" class="stbody">
	      	<div class="stimg">
	      		<img ng-src="{{picture}}">
	      	</div>
	      	<div class="sttext">
	      		<img ng-if="post.icon" src="{{post.icon}}"> {{post.message || post.story}}
	      		<div class="sttime">{{post.updated_time}}</div> 
	      	</div>
	      </div>
	   </div>
	   <div ng-if="isLoggedIn == false">
	   	<p>You need to log in to post</p>
	   </div>
    </div>
  </div>