<!DOCTYPE html>
<html>
	<head>
		<!--STYLES-->
		<link rel="stylesheet" href="/styles/angular-toastr.min.css">
		<link rel="stylesheet" href="/styles/app.css">
		<link rel="stylesheet" href="/styles/foundation.css">
		<link rel="stylesheet" href="/styles/importer.css">
		<!--STYLES END-->
	</head>
	<body ng-app="DashMod" ng-controller="DashCtrl" ng-init="getUser()">
		<div class="top-bar">
		  <div class="top-bar-left">
		    <ul class="dropdown menu" data-dropdown-menu>
		      <li class="menu-text">Dashboard</li>
		    </ul>
		  </div>
		  <div class="top-bar-right">
		    <ul class="menu">
		      <li><a class="button" href="/logout">Logout</a></li>
		    </ul>
		  </div>
		</div>
		<div class="row">
			<h1>Dashboard</h1>
			<div class="row">
				<div class="large-2 columns">
					<img ng-src="{{user.gravatarUrl}}" alt="avatar">
				</div>
				<div class="large-8 columns">
					<ul>
						<li>Name: {{user.name}}</li>
						<li>Email: {{user.email}}</li>
						<li>Member Since: {{user.createdAt}}</li>
					</ul>
				</div>
			</div>
		</div>
	<!--SCRIPTS-->
	<script src="/js/dependencies/sails.io.js"></script>
	<script src="/js/dependencies/jquery-1.12.2.min.js"></script>
	<script src="/js/dependencies/angular.min.js"></script>
	<script src="/js/dependencies/angular-toastr.min.js"></script>
	<script src="/js/dependencies/angular-toastr.tpls.min.js"></script>
	<script src="/js/dependencies/foundation.min.js"></script>
	<script src="/js/public/signup/SignupMod.js"></script>
	<script src="/js/public/signup/SignupCtrl.js"></script>
	<script src="/js/public/login/LoginMod.js"></script>
	<script src="/js/public/login/LoginCtrl.js"></script>
	<script src="/js/private/dashboard/DashMod.js"></script>
	<script src="/js/private/dashboard/DashCtrl.js"></script>
	<!--SCRIPTS END-->
	</body>
</html>	