<!DOCTYPE html>
<html>
<head>    	
	<!--STYLES-->
	<link rel="stylesheet" href="/styles/importer.css">
	<!--STYLES END-->
</head>
<body>

<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/angular.min.js"></script>
<script src="/js/public/signup/SignupMod.js"></script>
<script src="/js/public/signup/SignupCtrl.js"></script>
<!--SCRIPTS END-->
</body>
</html>